.button {
	-fx-background-color: rgba(142, 142, 142, 1);
	-fx-border-color: rgba(69, 69, 69, 1);
	-fx-font-family: "Lucida Console";
	-fx-font-weight: bold;
}

.button:hover {
	-fx-background-color: rgba(249, 169, 169, 1);
}

.button-sandbox {
	-fx-background-color: rgba(142, 192, 142, 1);
}

.menu-button {
	-fx-border-width: 4px;
	-fx-font-size: 30px;
}

.selector-button {
	-fx-border-width: 2.5px;
	-fx-font-size: 16px;
}

.dungeon-score-pane {
	-fx-background-color: rgba(184, 184, 184, 0.75);
	-fx-border-color: rgba(255, 184, 0, 0.95);
}

.dungeon-item-pane {
	-fx-background-color: rgba(105, 50, 190, 0.45);
	-fx-border-color: rgba(155, 0, 50, 0.55);
}

.dungeon-item-slot {
	-fx-border-color: rgba(155, 0, 50, 0.85);
}

.dungeon-button {
	-fx-background-color: rgba(100, 50, 150, 0.95);
	-fx-border-color: rgba(20, 140, 200, 0.85);
	-fx-font-size: 12.5px;
}

.selected-level-play {
	-fx-background-color: rgba(123, 255, 123, 1);
	-fx-border-color: rgba(51, 204, 51, 1);
	-fx-border-width: 3px;
	-fx-font-size: 20px;
	-fx-text-fill: rgba(51, 204, 51, 1);
	-fx-font-family: "Segoe UI";
}

.selected-level-play:hover {
	-fx-background-color: rgba(173, 255, 173, 1);
}
